@font-face {
  font-family: 'wawati client';
  src: //url(../font/Wawati_SC/WawaSC-Regular.woff2) format('woff2')
  url(../font/Wawati_SC/WawaSC-Regular.woff) format('woff');
  //url(../font/Wawati_SC/WawaSC-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}